/*
colors
white: #EDEDEB
black:#262524
brown:#7F6657
grey:#948F88
lighter grey: #D1D1D1
sage green:#9FA38F
dark green: #393F27
tan:#D1B48C
orange:#FF4E16
#FE762F
*/
* {
  box-sizing:border-box;
}

header {
  background-color: #9FA38F;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
}

main {
  padding-top: 165px;
}

body {
  background-color:#EDEDEB;
  font-family:'Roboto', sans-serif;
  font-size:16px;
  font-weight:300;
  line-height:1.6;
  color:#262524;
}

img {
  width:100%;
}

h1, h2, h3, h4 {
  line-height:1.4;
}

h1 {
  font-size: 2.75em;
  font-weight:300;
  text-align: center;
}

.welcome h1 span {
display: block;
font-size: 50%;
margin-top: 1em;
}


h2 {
  font-size: 2.23em;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover,
a: focus {
  color: #262524;
  text-decoration: underline;
}

a:active {
  color: #FE762F;
}

.button {
  display:inline-block;
  background-color:#FE762F;
  color: #FFFFFF;
  font-weight:300;
  padding:10px 40px;
  border-radius:50px;
  border-bottom:6px solid #FE762F;
  transition:0.2s opacity;
}

.button:hover {
  opacity:0.7;
  text-decoration:none;
}

.button:active {
  color: #FE762F;
}

.button.contact {
  background-color: #262524;
  color: #FFFFFF;
  text-transform: uppercase;
  border:2px solid #262524;
}

.button.contact:hover {
  background-color: #FFFFFF;
  color: #262524;
}

.button.contact:active {
  color: #FFFFFF;
}
/* layout styling */
.container {
  padding: 0 15px;
}

.row{
  margin:25px 0;
}

#hero h1 {
  text-align: center;
  color:#FFFFFF;
}

.logo{
  max-width: 150px;
}

nav {
  display: inline-block;
  width: 100%;
  margin-top: 1em;
}

nav > ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav > ul > li {
  display: inline-block;
  text-align:center;
}


nav > ul > li > a {
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #393F27;
}

nav > ul > li > a: visited {
  color: #393F27;
}

nav > ul > li > a: hover a: focus {
  color: #393F27;
  text-decoration: underline;
}

nav > ul > li > a: active {
  color: #FE762F;
}

#hero {
  background-color:#9FA38F;
  padding: 2px 0;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #9FA38F;
  padding-top:0;
  text-align: center;
  color: #FFFFFF;
}

.social svg {
  max-width: 3em;
}

.social svg > ul {
  list-style-type: none;
  padding: 0;
}

.social svg > ul > li {
  display: inline-block;
}
