/*
colors
white: #EDEDEB
black:#262524
brown:#7F6657
grey:#948F88
lighter grey: #D1D1D1
sage green:#9FA38F
dark green: #393F27
tan:#D1B48C
orange:#FF4E16
#FE762F
*/
* {
  box-sizing:border-box;
}

header {
  background-color: #9FA38F;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         -1px 7px 11px 0px rgba(50, 50, 50, 0.31);
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

main {
  padding-top: 99.49px;
}

body {
  background-color:#EDEDEB;
  font-family:'Roboto', sans-serif;
  font-size:16px;
  font-weight:300;
  line-height:1.6;
  color:#262524;
}

img {
  width:100%;
}

h1, h2, h3, h4 {
  line-height:1.4;
}

h1 {
  font-family: Source-Serif-pro;
  font-size: 2.75em;
  font-weight:200;
  text-align: center;
}

.welcome h1 span {
display: block;
font-size: 50%;
margin-top: 1em;
}

h2 {
  font-family: source-serif-pro;
  font-size: 2.23em;
  font-weight: 200;
  text-align: center;
}

#about-page h2 {
  text-align: left;
}

#about-page footer h2{
  text-align: center;
}

.section {
  padding: 2em 0;
}

h3 {
  font-family: source-serif-pro;
  font-size: 1.75em;
  font-weight: 200;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover,
a: focus {
  color: #262524;
  text-decoration: underline;
}

a:active {
  color: #FE762F;
}

.button {
  display:inline-block;
  background-color:#FE762F;
  color: #FFFFFF;
  font-weight:300;
  padding:10px 40px;
  border-radius:50px;
  border-bottom:6px solid #FE762F;
  transition:0.2s opacity;
  transition: 0.2s; opacity;
}

.button:hover {
  opacity:0.7;
  text-decoration:none;
}

.button:active {
  color: #FE762F;
}

.button.contact {
  background-color: #262524;
  color: #FFFFFF;
  text-transform: uppercase;
  border:2px solid #262524;
  transition: 0.2s; opacity;
}

.button.contact:hover {
  background-color: #FFFFFF;
  color: #262524;
}

.button.contact:active {
  color: #FFFFFF;
}
/* layout styling */
.container {
  padding: 0 15px;
}

.row{
  margin:25px 0;
}

#hero h1 {
  text-align: center;
  color:#FAFAFA;
}

.logo{
  max-width: 80px;
}

.olive-image {
  max-width: 490px;
}

.olive-hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.aboutmepic {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


nav {
  margin-top: 1em;
}

nav > ul {
list-style-type: none;
padding: 0;
margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #393F27;
}

nav > ul > li > a: visited {
  color: #393F27;
}

nav > ul > li > a: hover a: focus {
  color: #393F27;
  text-decoration: underline;
}

nav > ul > li > a: active {
  color: #FE762F;
}

#hero {
  background-color:#9FA38F;
  padding: 6em 0;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #9FA38F;
  text-align: center;
  color: #FFFFFF;
  padding: 2em 0 0.5em;
}

footer h2 {
  margin-top: 0;
}

footer .copy{
  margin-bottom: 0;
  font-size: 75%;
}

.social {
  margin-top: 2em;
}

.social svg {
  max-width: 3em;
}

.social ul {
padding: 0;
list-style-type: none;
}

.social li {
  display: inline-block;
  margin-right: 1em;
}

.row-scroll {
  display: flex;
  overflow: scroll;
}

.row-scroll img {
  max-width: 300px;
  margin-right: 1em;
  border: 1px solid #262524;
}

.iframe {
  width: 100%;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back{
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* medium devices 640px and larger */
@media only screen and (min-width:640px){
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }


  .logo {
    max-width: 125px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 35px;
    font-size: 20px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    text-align:center;
  }

  body {
    font-size: 18px
  }

  main {
    padding-top: 138px;
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  }

  .row-scroll img {
    max-width: 400px;
  }

  #about-page h3 {
    margin-top: 0;
  }


}
/* large devices 1024px and larger */
@media only screen and (min-width: 1024px){
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.image {
  background: #FFFFFF;
  text-align: center;
}

  .image img {
    max-width: 500px;
  }

  .text {
    max-width: 750px;
    margin: 2em auto;
  }

  .row-scroll {
    overflow: unset;
    justify-content: space-between;
  }

  .row-scroll img {
    margin-right: 0;
  }

}

/* extra large devices 1440px and larger */
@media only screen and (min-width: 1440px){
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
